@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*
{
    box-sizing: border-box;
}

body
{
    font-family: "Poppins", sans-serif;
    background-color: #0078d7;
    color: white;
    margin: 0;
    padding: 0;
}

hr
{
    height: 2px;
    border: 0;
    background-color: greenyellow;
}

::-moz-selection /* Code for Firefox */
{ 
    color: black;
    background: yellow;
  }
  
::selection 
{
color: black;
background: yellow;
}

#container
{
    padding: 10px;
    max-width: 800px;
    margin: 0 auto;
}

h1
{
    font-size: 400%;
}

h2
{
    font-size: 250%;
}

a,
a:active, 
a:visited
{
    color: greenyellow;
    font-weight: bold;
    /* text-decoration: none; */
}

a:hover
{
    color: black;
    background-color: white;
    text-decoration: none;
}

#greeting
{
    text-align: center;
}