@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*
{
    user-select: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

h1
{
    text-align: center;
}

body
{
    padding-top: 15px;
    font-family: 'Roboto', sans-serif;
    background-color: #1d1d1d;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
}

#container
{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

h2
{
    margin: 0;
}

footer
{
    text-align: center;
}

p
{
    text-align: justify;
}

hr
{
    border: 0;
    width: 100%;
    height: 8px;
    background: linear-gradient(to right, 
        #c21750   16%,
        #d5546a  16%, 
        #d5546a  33%, 
        #4477fa   33%, 
        #4477fa   50%, 
        #2f5cb3 50%, 
        #2f5cb3 66%, 
        #f932c9 66%,
        #f932c9 83%,
        #b628e3 83%,
        #b628e3 100%
    );
}

#allgameslist
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#allgameslist li p
{
    padding-left: 30px;
}

/* Hyperlinks */
a
{
    font-weight: bolder;
    text-decoration: none;
    color: silver;
}

a:hover
{
    color: azure;
}

header a, 
header a:visited,
header a:active
{
    color: #1d1d1d;
    background-color: silver;
    padding: 1px 10px;
    border-radius: 10px;
    border: 1px solid transparent;
}

header a:hover
{
    color: azure;
    background-color: transparent;
    border: 1px solid white;
}

footer a, 
footer a:visited, 
footer a:active
{
    color: silver;
    background-color: transparent;
    font-size: smaller;
}

footer a:hover
{
    color: azure;
    background-color: none;
}

/* Homepage Featured Games */
#games ul
{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#games img
{
    width: 100%;
    height: 150px;
    background-position: center;
    background-size: cover;
    display: block;
}

#games img:hover
{
    border: 4px solid white;
} 